{{- if .radixils -}}
{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash

set -eufo pipefail

echo "📦 Installing Radix ILS packages"

{{ $taps := list
  "hashicorp/tap" -}}

{{ $brews := list
  "awscli"
  "colima"
  "docker-buildx"
  "duckdb"
  "go-task"
  "hashicorp/tap/vault"
  "k9s"
  "libpq"
  "openssl"
  "postgresql"
  "pspg"
  "skaffold"
  "uv" -}}


{{ $casks := list
  "claude-code"
  "claude"
  "tailscale-app" -}}

brew bundle --file=/dev/stdin <<EOF
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}

{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}

{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
{{ end -}}


echo "📦 Configuring Radix ILS tooling"

duckdb -c "install httpfs; install spatial; install h3 from community"

{{ end -}}
