{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash

{{ $folders := list
  "~/.asdf"
  "~/.asdf/completions"
  "~/.cache"
  "~/.config"
  "~/.gk"
  "~/.npm"
  "~/.vscode"
  "~/bin"
  "~/git"
  "~/Vaults" -}}

{{ range ($folders | sortAlpha | uniq) -}}
if [ ! -d {{ . }} ]; then
  mkdir -p {{ . }}
fi

chmod go-rwx  {{ . }}
{{ end -}}

{{ end -}}
