{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash

set -eufo pipefail

echo "📦 Installing general packages"

{{ template "brew-cask-opts" . }}

{{ if .manageBrew -}}
{{ range (.packages.darwin.taps | sortAlpha | uniq) -}}
brew trust --tap "{{ . }}"
{{ end -}}
brew bundle --no-upgrade --file=/dev/stdin <<EOF
{{ range (.packages.darwin.taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}
{{ range (.packages.darwin.brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
EOF
{{ end -}}

{{ $casks := concat .packages.darwin.fontCasks .packages.darwin.casks -}}
brew bundle --no-upgrade --file=/dev/stdin <<EOF
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}

{{ if .manageBrew -}}
{{ range $name, $id := .packages.darwin.mas -}}
mas "{{ $name }}", id: {{ $id }}
{{ end -}}
{{ end -}}
EOF
{{ end -}}
