{{- if .radixils -}}
{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash

set -eufo pipefail

echo "📦 Installing Radix ILS packages"


{{ $brews := list
  "awscli"
  "colima"
  "docker-buildx"
  "duckdb"
  "go-task"
  "k9s"
  "libpq"
  "openssl"
  "postgresql"
  "pspg"
  "skaffold"
  "uv" -}}


{{ $casks := list
  "tailscale-app" -}}

brew bundle --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}

{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
{{ end -}}
{{ end -}}
