{{- if .dbtlabs -}}
{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash

set -eufo pipefail

echo "📦 Installing dbt Labs packages"

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "dbt-labs/dbt-int", "git@github.com:dbt-labs/homebrew-dbt-int.git"
tap "argoproj/tap"
tap "derailed/k9s"
tap "go-task/tap"

brew "awscli"
brew "devspace"
brew "docker"
brew "go"
brew "kubectl"
brew "libpq"
brew "pre-commit"
brew "pyenv-virtualenv"
brew "pyenv"
brew "rbenv"

cask "aws-vpn-client"
cask "postico"

# Tapped repos
brew "dbt-labs/dbt-int/dbt-fsh"
brew "argoproj/tap/kubectl-argo-rollouts"
brew "derailed/k9s/k9s"
brew "go-task/tap/go-task"

EOF
{{ end -}}
{{ end -}}
