{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash

set -eufo pipefail

echo "📦 Setting up asdf (+ installing plugins & tools)"

INSTALLED_PLUGINS=$(asdf plugin list)

{{ range (list "nodejs" "pnpm" "python" "ruby") -}}
if ! grep -q "{{ . }}" <<< "$INSTALLED_PLUGINS"; then
  asdf plugin add {{ . }}
fi
{{ end -}}

echo "Updating asdf plugins..."
asdf plugin update --all

echo "Installing asdf versions..."
asdf install

echo "Setting up asdf autocompletions..."
asdf completion zsh > "${ASDF_DATA_DIR:-$HOME/.asdf}/completions/_asdf"
{{ end -}}
