{{- if .dbtlabs -}}
{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash
set -eufo pipefail

RUBY_VERSION={{ .version_ruby }}

echo "📦 Installing Ruby version \"$RUBY_VERSION\" via rbenv"

RBENV_ROOT="${XDG_CONFIG_HOME:-$HOME/.config}/rbenv"
eval "$(rbenv init -)"

rbenv install --skip-existing $RUBY_VERSION || true
rbenv global $RUBY_VERSION

{{ end -}}
{{ end -}}
