#!/usr/bin/env bash
set -eufo pipefail

PYTHON_VERSION={{ .version_python }}

echo "📦 Installing Python version \"$PYTHON_VERSION\" via pyenv"

PYENV_ROOT="${XDG_CONFIG_HOME:-$HOME/.config}/pyenv"
eval "$(pyenv init --path)"

pyenv install --skip-existing $PYTHON_VERSION || true
pyenv global $PYTHON_VERSION
