{{- $machineRole := promptChoiceOnce . "machineRole" "Machine role" (list "personal" "work") -}}
{{- $manageBrew := promptBoolOnce . "manageBrew" "Manage Homebrew from this account (only one account per machine should)" -}}

{{- $personal := eq $machineRole "personal" -}}
{{- $radixils := eq $machineRole "work" -}}

{{- $osID := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

[data]
  machineRole = {{ $machineRole | quote }}
  manageBrew = {{ $manageBrew }}
  radixils = {{ $radixils }}
  personal = {{ $personal }}
  hostname = {{ .chezmoi.hostname | quote }}
  osid = {{ $osID | quote }}
  vault = "dy6pemkojjapnjhhspqmii4ulq"
  lookPath = "eza"
[diff]
  exclude = ["externals"]
