# [".vim/autoload/plug.vim"]
#     type = "file"
#     url = "https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim"
#     refreshPeriod = "168h"
[".oh-my-zsh"]
  type = "archive"
  url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"
[".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
  type = "archive"
  url = "https://github.com/zsh-users/zsh-autosuggestions/archive/master.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"
[".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
  type = "archive"
  url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"
[".oh-my-zsh/custom/themes/powerlevel10k"]
  type = "archive"
  url = "https://github.com/romkatv/powerlevel10k/archive/v1.16.1.tar.gz"
  exact = true
  stripComponents = 1
[".config/iterm2/vscode-light.itermcolors"]
  type = "file"
  url = "https://raw.githubusercontent.com/tallpants/vscode-theme-iterm2/master/vscode-light.itermcolors"
  refreshPeriod = "168h"
[".config/iterm2/vscode.itermcolors"]
  type = "file"
  url = "https://raw.githubusercontent.com/tallpants/vscode-theme-iterm2/master/vscode.itermcolors"
  refreshPeriod = "168h"
{{- if eq .chezmoi.os "linux" }}
{{- $ageVersion := "1.2.1" }}
[".local/bin/age"]
  type = "file"
  url = "https://github.com/FiloSottile/age/releases/download/v{{ $ageVersion }}/age-v{{ $ageVersion }}-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz"
  executable = true
  [".local/bin/age".filter]
    command = "tar"
    args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "age/age"]
[".local/bin/age-keygen"]
  type = "file"
  url = "https://github.com/FiloSottile/age/releases/download/v{{ $ageVersion }}/age-v{{ $ageVersion }}-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz"
  executable = true
  [".local/bin/age-keygen".filter]
    command = "tar"
    args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "age/age-keygen"]
{{- end }}
