#!/usr/bin/env bash

set -eufo pipefail

{{ $folders := list
  "~/.cache"
  "~/.config"
  "~/.gk"
  "~/.local/lib"
  "~/.npm"
  "~/.vscode"
  "~/bin"
  "~/git"
  "~/Vaults" -}}

{{ range ($folders | sortAlpha | uniq) -}}
if [ ! -d {{ . }} ]; then
  mkdir -p {{ . }}
fi

chmod go-rwx  {{ . }}
{{ end -}}

