#HashKnownHosts no

{{- if eq .chezmoi.os "darwin" }}

Host *
  IgnoreUnknown UseKeychain
  AddKeysToAgent yes
  UseKeychain yes
  # IdentityFile ~/.ssh/id_ed25519
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- end }}

Host github.com
  User git

{{ if .dbtlabs -}}
# DevSpace Start
Match all
Include devspace_config
# DevSpace End
{{- end }}
