#HashKnownHosts no

{{- if eq .chezmoi.os "darwin" }}

Host *
  IgnoreUnknown UseKeychain
  AddKeysToAgent yes
  UseKeychain yes
  IdentityFile ~/.ssh/id_ed25519
  IdentityFile ~/.ssh/id_rsa # key file in legacy format
{{- end }}

Host github.com
  User git

{{/*
  {{- if .dbtlabs }}
  {{    onepasswordDocument "philip.vonbargen@dbtlabs.com SSH config" .vault -}}
  {{- end }}
*/}}
