export GITHUB_PERSONAL_ACCESS_TOKEN="{{ (onepasswordDetailsFields "n4gyfahbctekzcdibjznxsublm" .vault).credential.value }}"
export OPENAI_API_KEY="{{ (onepasswordDetailsFields "oczxldxg74agpwh7jdqc6cnmce" .vault).credential.value }}"
export FIREWORKS_API_KEY="{{ (onepasswordDetailsFields "h74ipbq3ygwfvko253vnutvysi" .vault).credential.value }}"
{{/* vim: set filetype=zsh: */}}
