{{- if .radixils -}}
{
	"auths": {
		"715841355729.dkr.ecr.us-east-1.amazonaws.com": {}
	},
	"credsStore": "osxkeychain",
	"currentContext": "colima",
	"cliPluginsExtraDirs": [
		"/opt/homebrew/lib/docker/cli-plugins"
	],
	"aliases": {
		"builder": "buildx"
	}
}
{{- end -}}
